In [10]:
import pandas as pd

traemos los datos (censos de poblacion y vivienda 2010 y 2020)

In [11]:
data10=pd.read_csv('DATA/RESAGEB2010 - 02 Baja California.txt')
data20=pd.read_csv('DATA/RESAGEBURB2020 - 02 Baja California.csv')

<h3>limpiando 2010 y 2020

In [12]:

#filtramos para solo ensenada
clean10 = data10[ data10['NOM_MUN'] == 'Ensenada']
#Baja California es redundante
clean10 = clean10.drop(columns=['ENTIDAD','NOM_ENT','MUN'])

#filtramos para solo ensenada
clean20 = data20[ data20['NOM_MUN'] == 'Ensenada' ]
#Baja California es redundante
clean20 = clean20.drop(columns=['ENTIDAD','NOM_ENT','MUN'])

In [13]:
#localidades ensenada 2010
localidades10 = [clean10['NOM_LOC'].unique()[i] for i in range(3, len(clean10['NOM_LOC'].unique()))]

#localidades ensenada 2020
localidades20 = [clean20['NOM_LOC'].unique()[i] for i in range(3, len(clean20['NOM_LOC'].unique()))]

hacemos coincidir los nombres de las localidades

In [14]:
clean10.loc[clean10['NOM_LOC'] == 'Ejido México (Punta Colonet)', 'NOM_LOC'] = 'Ejido Punta Colnett (Punta Colonet)'
clean10.loc[clean10['NOM_LOC'] == 'Benito García (El Zorrillo)', 'NOM_LOC'] = 'Rancho Cañón Buena Vista (El Zorrillo)'

hacemos la lista con los elementos que comparten

In [15]:
localidades10 = [clean10['NOM_LOC'].unique()[i] for i in range(3, len(clean10['NOM_LOC'].unique()))]
localidades20 = [clean20['NOM_LOC'].unique()[i] for i in range(3, len(clean20['NOM_LOC'].unique()))]

localidades = [x for x in localidades10 if x in localidades20]

localidades

['Ensenada',
 'Francisco Zarco (Valle de Guadalupe)',
 'Rodolfo Sánchez Taboada (Maneadero)',
 'Ejido Punta Colnett (Punta Colonet)',
 'Real del Castillo Nuevo (Ojos Negros)',
 'San Vicente',
 'El Sauzal de Rodríguez',
 'Lázaro Cárdenas (Valle de la Trinidad)',
 'Rancho Cañón Buena Vista (El Zorrillo)']

nos quedamos solo con las localidades en comun

In [16]:
# create a boolean mask to filter rows
mask10 = clean10['NOM_LOC'].isin(localidades)

# apply the mask to select only the rows with allowed values
clean10 = clean10[mask10]

clean10 = clean10.reset_index()

#========================

# create a boolean mask to filter rows
mask20 = clean20['NOM_LOC'].isin(localidades)

# apply the mask to select only the rows with allowed values
clean20 = clean20[mask20]

clean20 = clean20.reset_index()

diccionario

In [17]:
dic10 = {
    "LOC": "Clave de localidad",
    "NOM_LOC": "Localidad",
    "AGEB": "Clave de AGEB",
    "MZA": "Clave de manzana",
    "POBTOT": "Poblacion total",
    "P_0A2": "Poblacion de 0 a 2 años",
    "P_3A5": "Poblacion de 3 a 5 años",
    "POB65_MAS": "Poblacion de 65 años y mas",
    "GRAPROES": "Grado promedio de escolaridad",
    "PROM_HNV": "Promedio de hijos nacidos vivos",
    "VIVTOT": "Total de viviendas",
    "PRO_OCUP_C":	"Promedio de ocupantes por cuarto",
    "PROM_OCUP":	"Promedio de ocupantes por vivienda",
    "VPH_PC":	"Viviendas que disponen de computadora",
    "PNACOE":	"Poblacion nacida en otra entidad"
}

renombramos POBTOT en 2020 por P_TOTAL, la de 2010

In [19]:
clean20 = clean20.rename(columns={'POBTOT': 'P_TOTAL'})
# get the column order of df1
column_order = clean10.columns

# reindex df2 using the column order of df1
clean20 = clean20.reindex(columns=column_order)

pd.DataFrame({'clean20': pd.Series(clean20.columns), 'clean10': pd.Series(clean10.columns)})

       clean20     clean10
0        index       index
1      NOM_MUN     NOM_MUN
2          LOC         LOC
3      NOM_LOC     NOM_LOC
4         AGEB        AGEB
5          MZA         MZA
6      P_TOTAL     P_TOTAL
7        P_0A2       P_0A2
8        P_3A5       P_3A5
9    POB65_MAS   POB65_MAS
10    GRAPROES    GRAPROES
11    PROM_HNV    PROM_HNV
12      VIVTOT      VIVTOT
13  PRO_OCUP_C  PRO_OCUP_C
14   PROM_OCUP   PROM_OCUP
15      VPH_PC      VPH_PC
16      PNACOE      PNACOE

### quitamos acentos

In [20]:
import unidecode

# remove accents
clean10['NOM_LOC'] = clean10['NOM_LOC'].apply(lambda x: unidecode.unidecode(x))

# remove accents
clean20['NOM_LOC'] = clean20['NOM_LOC'].apply(lambda x: unidecode.unidecode(x))

<h2> Renombramos

In [21]:
df_10 = clean10
df_20 = clean20

hasta ahora: 
* filtramos para solo ensenada

* eliminamos columnas: ENTIDAD','NOM_ENT','MUN' (Baja California es redundante)

* hacemos coincidir los nombres de localidades (NOM_LOC) en ambos censos 

* eliminamos todas las localidades que no se encuentren en ambos dataframes (2010 y 2020)

* hacemos coincidir los nombres de las columnas equivalentes 

* eliminamos tildes

<h3>nos limitamos a ensenada</h3>

* cambio de dataframe a <b>df_ens_xx

In [22]:
df_ens_10 = df_10[df_10['NOM_LOC'] == 'Ensenada']
df_ens_10.reset_index(inplace=True)

df_ens_20 = df_20[df_20['NOM_LOC'] == 'Ensenada']
df_ens_20.reset_index(inplace=True)

* tiramos la <b>manzana 800</b>, esta fuera del rango usual y puede significar otra cosa

In [23]:
#drop row if mza is 800
df_ens_10 = df_ens_10[df_ens_10['MZA'] != 800]

df_ens_20 = df_ens_20[df_ens_20['MZA'] != 800]

In [24]:
df_ens_10.describe()

           level_0        index     LOC          MZA      P_TOTAL       VIVTOT
count  5255.000000  5255.000000  5255.0  5255.000000  5255.000000  5255.000000
mean   2627.000000  2723.169553     1.0    22.216936    53.237869    19.150143
std    1517.132163  1571.823135     0.0    16.461110    68.790277    19.594114
min       0.000000     4.000000     1.0     1.000000     0.000000     0.000000
25%    1313.500000  1353.500000     1.0     9.000000    16.000000     6.000000
50%    2627.000000  2732.000000     1.0    19.000000    41.000000    15.000000
75%    3940.500000  4078.500000     1.0    32.000000    72.000000    26.000000
max    5254.000000  5447.000000     1.0   100.000000  3018.000000   360.000000