In [525]:
import pandas as pd

traemos los datos (censos de poblacion y vivienda 2010 y 2020)

In [526]:
data10=pd.read_csv('DATA/RESAGEB2010 - 02 Baja California.txt')
data20=pd.read_csv('DATA/RESAGEBURB2020 - 02 Baja California.csv')

# limpiando 2010 y 2020

filtramos para solo ENSENADA (MUNICIPIO)

In [527]:
#-------- 2010 --------#

#filtramos para solo ensenada (MUNICIPIO)
clean10 = data10[ data10['NOM_MUN'] == 'Ensenada']
#Baja California es redundante
clean10 = clean10.drop(columns=['ENTIDAD','NOM_ENT','MUN'])

#-------- 2020 --------#

#filtramos para solo ensenada
clean20 = data20[ data20['NOM_MUN'] == 'Ensenada' ]
#Baja California es redundante
clean20 = clean20.drop(columns=['ENTIDAD','NOM_ENT','MUN'])

In [528]:
#localidades ensenada 2010
localidades10 = [clean10['NOM_LOC'].unique()[i] for i in range(3, len(clean10['NOM_LOC'].unique()))]

#localidades ensenada 2020
localidades20 = [clean20['NOM_LOC'].unique()[i] for i in range(3, len(clean20['NOM_LOC'].unique()))]

#pd.DataFrame(localidades10, localidades20)

# Asegurarse de que ambas listas tengan la misma longitud
max_len = max(len(localidades10), len(localidades20))
localidades10 = localidades10 + [None]*(max_len - len(localidades10))
localidades20 = localidades20 + [None]*(max_len - len(localidades20))

# Crear el DataFrame
pd.DataFrame({'Localidades10': localidades10, 'Localidades20': localidades20})

,Localidades10,Localidades20
0,Ensenada,Ensenada
1,Camalú,Francisco Zarco (Valle de Guadalupe)
2,Francisco Zarco (Valle de Guadalupe),Rodolfo Sánchez Taboada (Maneadero)
3,Lázaro Cárdenas,Ejido Punta Colnett (Punta Colonet)
4,Rodolfo Sánchez Taboada (Maneadero),Real del Castillo Nuevo (Ojos Negros)
5,Ejido México (Punta Colonet),San Vicente
6,Real del Castillo Nuevo (Ojos Negros),El Sauzal de Rodríguez
7,San Vicente,Lázaro Cárdenas (Valle de la Trinidad)
8,El Sauzal de Rodríguez,Rancho Cañón Buena Vista (El Zorrillo)
9,Vicente Guerrero,None
10,Santa Fe,None
11,San Quintín,None
12,Lázaro Cárdenas (Valle de la Trinidad),None
13,Emiliano Zapata,None
14,Ejido Papalote,None
15,Rancho Verde,None
16,Benito García (El Zorrillo),None
17,Colonia Nueva Era,None
18,Colonia Lomas de San Ramón (Triquis),None

hacemos coincidir los nombres de las localidades

In [529]:
clean10.loc[clean10['NOM_LOC'] == 'Ejido México (Punta Colonet)', 'NOM_LOC'] = 'Ejido Punta Colnett (Punta Colonet)'
clean10.loc[clean10['NOM_LOC'] == 'Benito García (El Zorrillo)', 'NOM_LOC'] = 'Rancho Cañón Buena Vista (El Zorrillo)'

hacemos la lista con los elementos que comparten

In [530]:
localidades10 = [clean10['NOM_LOC'].unique()[i] for i in range(3, len(clean10['NOM_LOC'].unique()))]
localidades20 = [clean20['NOM_LOC'].unique()[i] for i in range(3, len(clean20['NOM_LOC'].unique()))]

localidades = [x for x in localidades10 if x in localidades20]

#pd.Series(localidades)
localidades

['Ensenada',
 'Francisco Zarco (Valle de Guadalupe)',
 'Rodolfo Sánchez Taboada (Maneadero)',
 'Ejido Punta Colnett (Punta Colonet)',
 'Real del Castillo Nuevo (Ojos Negros)',
 'San Vicente',
 'El Sauzal de Rodríguez',
 'Lázaro Cárdenas (Valle de la Trinidad)',
 'Rancho Cañón Buena Vista (El Zorrillo)']

### nos quedamos solo con las localidades en comun

In [531]:
# create a boolean mask to filter rows
mask10 = clean10['NOM_LOC'].isin(localidades)

# apply the mask to select only the rows with allowed values
clean10 = clean10[mask10]

clean10 = clean10.reset_index()

#========================

# create a boolean mask to filter rows
mask20 = clean20['NOM_LOC'].isin(localidades)

# apply the mask to select only the rows with allowed values
clean20 = clean20[mask20]

clean20 = clean20.reset_index()

### diccionario

In [532]:
dic10 = {
    "LOC": "Clave de localidad",
    "NOM_LOC": "Localidad",
    "AGEB": "Clave de AGEB",
    "MZA": "Clave de manzana",
    "POBTOT": "Poblacion total",
    "P_0A2": "Poblacion de 0 a 2 años",
    "P_3A5": "Poblacion de 3 a 5 años",
    "POB65_MAS": "Poblacion de 65 años y mas",
    "GRAPROES": "Grado promedio de escolaridad",
    "PROM_HNV": "Promedio de hijos nacidos vivos",
    "VIVTOT": "Total de viviendas",
    "PRO_OCUP_C":	"Promedio de ocupantes por cuarto",
    "PROM_OCUP":	"Promedio de ocupantes por vivienda",
    "VPH_PC":	"Viviendas que disponen de computadora",
    "PNACOE":	"Poblacion nacida en otra entidad"
}

### renombramos POBTOT en 2020 por P_TOTAL, la de 2010

In [533]:
clean20 = clean20.rename(columns={'POBTOT': 'P_TOTAL'})
# get the column order of df1
column_order = clean10.columns

# reindex df2 using the column order of df1
clean20 = clean20.reindex(columns=column_order)

pd.DataFrame({'clean20': pd.Series(clean20.columns), 'clean10': pd.Series(clean10.columns)})

       clean20     clean10
0        index       index
1      NOM_MUN     NOM_MUN
2          LOC         LOC
3      NOM_LOC     NOM_LOC
4         AGEB        AGEB
5          MZA         MZA
6      P_TOTAL     P_TOTAL
7        P_0A2       P_0A2
8        P_3A5       P_3A5
9    POB65_MAS   POB65_MAS
10    GRAPROES    GRAPROES
11    PROM_HNV    PROM_HNV
12      VIVTOT      VIVTOT
13  PRO_OCUP_C  PRO_OCUP_C
14   PROM_OCUP   PROM_OCUP
15      VPH_PC      VPH_PC
16      PNACOE      PNACOE

### quitamos acentos

In [534]:
import unidecode

# remove accents
clean10['NOM_LOC'] = clean10['NOM_LOC'].apply(lambda x: unidecode.unidecode(x))

# remove accents
clean20['NOM_LOC'] = clean20['NOM_LOC'].apply(lambda x: unidecode.unidecode(x))

quitamos index y Municipio (ya sabemos que es ensenada)

In [535]:
#clean10 = clean10.drop(columns=['index', 'NOM_MUN'])
#clean20 = clean20.drop(columns=['index', 'NOM_MUN'])

### Renombramos

In [536]:
df_10 = clean10
df_20 = clean20

hasta ahora: 
* filtramos para solo ensenada

* eliminamos columnas: ENTIDAD','NOM_ENT','MUN' (Baja California es redundante)

* hacemos coincidir los nombres de localidades (NOM_LOC) en ambos censos 

* eliminamos todas las localidades que no se encuentren en ambos dataframes (2010 y 2020)

* hacemos coincidir los nombres de las columnas equivalentes 

* eliminamos tildes

In [537]:
df_20

,index,NOM_MUN,LOC,NOM_LOC,AGEB,MZA,P_TOTAL,P_0A2,P_3A5,POB65_MAS,GRAPROES,PROM_HNV,VIVTOT,PRO_OCUP_C,PROM_OCUP,VPH_PC,PNACOE
0,4,Ensenada,1,Ensenada,0026,1,11,0,0,0,9.20,1,4,0.55,2.75,*,*
1,5,Ensenada,1,Ensenada,0026,2,42,0,*,8,8.43,2.50,19,0.91,2.63,*,26
2,6,Ensenada,1,Ensenada,0026,3,11,0,*,*,9.13,4.33,3,1.57,3.67,*,5
3,8,Ensenada,1,Ensenada,0030,1,21,*,*,*,15.89,0.80,17,0.54,2.10,9,7
4,9,Ensenada,1,Ensenada,0030,2,11,0,0,0,16.75,1.50,8,0.48,2.20,4,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8005,8323,Ensenada,2183,Rancho Canon Buena Vista (El Zorrillo),9782,32,40,*,3,0,7.45,1.73,14,1.21,3.33,0,16
8006,8324,Ensenada,2183,Rancho Canon Buena Vista (El Zorrillo),9782,33,39,3,4,*,5.48,3.50,10,1.44,4.88,0,17
8007,8325,Ensenada,2183,Rancho Canon Buena Vista (El Zorrillo),9782,34,34,*,*,0,5.61,2.15,16,1.70,3.78,0,19
8008,8326,Ensenada,2183,Rancho Canon Buena Vista (El Zorrillo),9782,35,8,*,*,*,*,*,2,*,*,*,*
8009,8327,Ensenada,2183,Rancho Canon Buena Vista (El Zorrillo),9782,36,32,*,4,0,6.07,2.10,10,1.78,3.56,0,13

# nos limitamos a ENSENADA (LOCALIDAD)

* cambio de dataframe a <b>df_ens_xx

In [538]:
df_ens_10 = df_10[df_10['NOM_LOC'] == 'Ensenada']
df_ens_10.reset_index(inplace=True)

df_ens_20 = df_20[df_20['NOM_LOC'] == 'Ensenada']
df_ens_20.reset_index(inplace=True)

#borramos columnas innecesarias 
df_ens_10 = df_ens_20.drop(columns=['NOM_MUN','LOC', 'NOM_LOC'])
df_ens_20 = df_ens_20.drop(columns=['NOM_MUN','LOC', 'NOM_LOC'])

#drop first 2 columns
df_ens_10 = df_ens_10.drop(columns=['level_0', 'index'])
df_ens_20 = df_ens_20.drop(columns=['level_0', 'index'])

* tiramos la <b>manzana 800</b>, esta fuera del rango usual y puede significar otra cosa

In [539]:
#drop row if mza is 800
df_ens_10 = df_ens_10[df_ens_10['MZA'] != 800]

df_ens_20 = df_ens_20[df_ens_20['MZA'] != 800]

In [540]:
#filas 
#print(df_ens_10['NOM_LOC'].size)
print(df_ens_10.shape)
#agebs 
print(df_ens_10['AGEB'].unique().size)

(5987, 13)
220

In [541]:
df_ens_20

,AGEB,MZA,P_TOTAL,P_0A2,P_3A5,POB65_MAS,GRAPROES,PROM_HNV,VIVTOT,PRO_OCUP_C,PROM_OCUP,VPH_PC,PNACOE
0,0026,1,11,0,0,0,9.20,1,4,0.55,2.75,*,*
1,0026,2,42,0,*,8,8.43,2.50,19,0.91,2.63,*,26
2,0026,3,11,0,*,*,9.13,4.33,3,1.57,3.67,*,5
3,0030,1,21,*,*,*,15.89,0.80,17,0.54,2.10,9,7
4,0030,2,11,0,0,0,16.75,1.50,8,0.48,2.20,4,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6001,9890,8,0,0,0,0,0,0,0,0,0,0,0
6002,9890,9,4,*,*,*,*,*,1,*,*,*,*
6003,9890,10,18,*,0,0,13.18,1,5,0.90,3.60,3,3
6004,9890,11,17,0,0,0,8.33,2.50,5,0.65,3.40,4,10
6006,9903,1,135,0,6,13,13.84,1.71,54,0.66,3.14,40,45

### Renombramos PNACOE

In [542]:
#rename column PNACOE for OTRAENT
df_ens_10.rename(columns={'PNACOE':'OTRAENT'}, inplace=True)

df_ens_20.rename(columns={'PNACOE':'OTRAENT'}, inplace=True)

# Datos No numericos

No queremos object

In [543]:
df_ens_20.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5987 entries, 0 to 6006
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   AGEB        5987 non-null   object
 1   MZA         5987 non-null   int64
 2   P_TOTAL     5987 non-null   int64
 3   P_0A2       5987 non-null   object
 4   P_3A5       5987 non-null   object
 5   POB65_MAS   5987 non-null   object
 6   GRAPROES    5987 non-null   object
 7   PROM_HNV    5987 non-null   object
 8   VIVTOT      5987 non-null   int64
 9   PRO_OCUP_C  5987 non-null   object
 10  PROM_OCUP   5987 non-null   object
 11  VPH_PC      5987 non-null   object
 12  OTRAENT     5987 non-null   object
dtypes: int64(3), object(10)
memory usage: 654.8+ KB

In [544]:
limpiar = ['P_TOTAL', 'P_0A2', 'P_3A5', 'POB65_MAS', 'GRAPROES', 'PROM_HNV', 'VIVTOT', 'PRO_OCUP_C', 'PROM_OCUP', 'VPH_PC', 'OTRAENT']

df_ens_10[limpiar].columns

Index(['P_TOTAL', 'P_0A2', 'P_3A5', 'POB65_MAS', 'GRAPROES', 'PROM_HNV',
       'VIVTOT', 'PRO_OCUP_C', 'PROM_OCUP', 'VPH_PC', 'OTRAENT'],
      dtype='object')

a ojo, identificamos los " * " como datos faltantes, hay otro tipo de dato no numerico?

In [545]:
#------------------ 2010 ------------------#
#print the values that cannot be converted to float
erorrs10 = []
for col in limpiar:
    for i in df_ens_10[col]:
        try:
            float(i) #si no se puede convertir a float
        except:
            erorrs10.append(i)


#------------------ 2020 ------------------#
#print the values that cannot be converted to float
erorrs20 = []
for col in limpiar:
    for i in df_ens_20[col]:
        try:
            float(i)
        except:
            erorrs20.append(i)


print(pd.Series(erorrs10).unique(), pd.Series(erorrs20).unique())

['*'] ['*']

no, solo hay que lidiar con los "*"

## RESOLVEMOS PARA LOS *

<b>IMPORTANTE </b>vamos a llenar los *, primero reemplazando por el valor anterior, y luego con el siguiente para que no quede ninguno

In [546]:
import numpy as np
#replace * with the last value
for col in limpiar:
    df_ens_10[col] = df_ens_10[col].replace(['*'], np.nan)
    df_ens_10[col] = df_ens_10[col].fillna(method='ffill')
    df_ens_10[col] = df_ens_10[col].fillna(method='bfill')


#replace * with the last value
for col in limpiar:
    df_ens_20[col] = df_ens_20[col].replace(['*'], np.nan)
    df_ens_20[col] = df_ens_20[col].fillna(method='ffill')
    df_ens_20[col] = df_ens_20[col].fillna(method='bfill')

/tmp/ipykernel_16798/1956846547.py:5: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_ens_10[col] = df_ens_10[col].fillna(method='ffill')
/tmp/ipykernel_16798/1956846547.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_ens_10[col] = df_ens_10[col].fillna(method='bfill')
/tmp/ipykernel_16798/1956846547.py:12: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_ens_20[col] = df_ens_20[col].fillna(method='ffill')
/tmp/ipykernel_16798/1956846547.py:13: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_ens_20[col] = df_ens_20[col].fillna(method='bfill')

ya podemos convertir a float (no queriamos object)

In [547]:
#convert to float the columns in limpiar
for col in limpiar:
    df_ens_10[col] = df_ens_10[col].astype(float)

#convert to float the columns in limpiar
for col in limpiar:
    df_ens_20[col] = df_ens_20[col].astype(float)

df_ens_20[limpiar].info()

<class 'pandas.core.frame.DataFrame'>
Index: 5987 entries, 0 to 6006
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   P_TOTAL     5987 non-null   float64
 1   P_0A2       5987 non-null   float64
 2   P_3A5       5987 non-null   float64
 3   POB65_MAS   5987 non-null   float64
 4   GRAPROES    5987 non-null   float64
 5   PROM_HNV    5987 non-null   float64
 6   VIVTOT      5987 non-null   float64
 7   PRO_OCUP_C  5987 non-null   float64
 8   PROM_OCUP   5987 non-null   float64
 9   VPH_PC      5987 non-null   float64
 10  OTRAENT     5987 non-null   float64
dtypes: float64(11)
memory usage: 561.3 KB

### CREAMOS COLUMNA EDAD 0-5
sumando 0 a 2 + 3 a 5 y eliminando estas

In [548]:
#10: sumamos los valores de los campos de edad
df_ens_10['P_0A5'] = df_ens_10['P_0A2'] + df_ens_10['P_3A5']
#borramos los sumados
df_ens_10 = df_ens_10.drop(['P_0A2', 'P_3A5'], axis=1)

#20: sumamos los valores de los campos de edad
df_ens_20['P_0A5'] = df_ens_20['P_0A2'] + df_ens_20['P_3A5']
#borramos los sumados
df_ens_20 = df_ens_20.drop(['P_0A2', 'P_3A5'], axis=1)


df_ens_20.columns

Index(['AGEB', 'MZA', 'P_TOTAL', 'POB65_MAS', 'GRAPROES', 'PROM_HNV', 'VIVTOT',
       'PRO_OCUP_C', 'PROM_OCUP', 'VPH_PC', 'OTRAENT', 'P_0A5'],
      dtype='object')

# Agrupamos por AGEB

recordemos que nuestro analisis es por agebs, entonces agrupamos por ageb

* <b>Dependiendo del parametro, estos serán sumados o promediados al momento de agrupar

In [549]:
agg_dict = {}

#le ponemos suma a todos los que no sean object
for col in df_ens_10.columns.tolist():
    if df_ens_10[col].dtype == np.dtype('float64'):
        agg_dict[col] = 'sum'
    else:
        agg_dict[col] = 'first'

#les ponemos media a los que correspondan
media = ['GRAPROES', 'PROM_HNV', 'PRO_OCUP_C', 'PROM_OCUP']

for col in media:
    agg_dict[col] = 'mean'

agg_dict

{'AGEB': 'first',
 'MZA': 'first',
 'P_TOTAL': 'sum',
 'POB65_MAS': 'sum',
 'GRAPROES': 'mean',
 'PROM_HNV': 'mean',
 'VIVTOT': 'sum',
 'PRO_OCUP_C': 'mean',
 'PROM_OCUP': 'mean',
 'VPH_PC': 'sum',
 'OTRAENT': 'sum',
 'P_0A5': 'sum'}

aplicamos las funciones

In [559]:
df10_agebs = df_ens_10.groupby('AGEB', as_index=False).agg(agg_dict)
df20_agebs = df_ens_20.groupby('AGEB', as_index=False).agg(agg_dict)

#unique agebs 
print(df10_agebs['AGEB'].size)
df10_agebs['AGEB']

220

0      0026
1      0030
2      0083
3      0098
4      0100
       ...
215    9867
216    9871
217    9886
218    9890
219    9903
Name: AGEB, Length: 220, dtype: object